:root {
    --main-color: #C57AFF;
    --bg-color: #F1F5FE;
    --window-bg-color: #ffffff;
    --text-color: #000000;
    --button-color-not-active: #EDEDED;
    --white: #fff;
    --text-color-input: black;
}