@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .main {
        padding: 50px 0;
    }

    .weather {
        margin-top: 40px;
        width: 550px;

        &__now {
            margin-top: 40px;
            &-item {
                flex-direction: column;
            }
            &-icon {
                width: 100px;
            }
            &-temp {
                margin-left: 0;
                margin-top: 15px;
            }
            

            &-descr {
                margin-top: 30px;
            }
        }
    }

    .btn {

        &_prev,
        &_next {
            display: none;
        }
    }

    .slider {
        padding: 15px;
    }
}

@media (max-width: 576px) {

    .title {
        font-size: 36px;
    }

    .btn {
        &_setting {
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    .nav {
        flex-direction: column;

        &__link {
            margin: 0;
            margin-top: 10px;
        }
    }

    .weather {
        width: 300px;
        margin-top: 30px;
        &__now{
            margin-top: 35px;
            flex-direction: column;
            &-icon {
                width: 70px;
            }
            &-item {
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }
            &-temp {
                margin-top: 0;
                margin-left: 15px;
            }
            &-descr {
                
                font-size: 18px;
                .li {
                    &:before {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
        

    }

    .main {
        padding: 35px 0;
    }
    .modal {
        &__window {
            width: 300px;
            padding: 25px;
        }
    }

    .form {
        &__citys {
            input {
                width: 170px;
            }
        }
    }

}