.weather {
    position: relative;
    width: 700px;
    min-height: 550px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--window-bg-color);
    box-shadow: 1px 1px 5px #000000;
    padding: 20px 15px 30px;
    overflow: hidden;
    margin-top: 50px;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
    }

    &__now {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 125px;
            img {
                display: block;
                width: 100%;
            }
        }
        &-temp {
            margin-left: 35px;
            font-weight: 200;
            font-size: 45px;
            line-height: 45px;
            color: var(--text-color);
        }


        &-descr {
            display: flex;
            flex-direction: column;
            font-weight: 200;
            font-size: 24px;
            line-height: 24px;
            color: var(--text-color);
            .li {
                position: relative;
                margin-top: 15px;
                &:first-child {
                    margin-top: 0;
                }
                &:before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -20px;
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    background: url(../icons/check-mark.svg) center (center / cover)  no-repeat;
                }
            }
        }
        
    }

    &__dayly{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr;
        margin-top: 15px;
        max-height: 200px;
        overflow-y: scroll;
        scrollbar-color: var(--main-color) transparent;
        scrollbar-width: thin;
        &::-webkit-scrollbar{
            appearance: none;
            width: 6px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb{
            appearance: none;
            width: 6px;
            background-color: var(--main-color) ;
        }

        &-item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 15px;
        }
        &-day {
            font-weight: 200;
            font-size: 30px;
            line-height: 30px;
            color: var(--text-color);
            
        }
        &-icon {
            width: 50px;
            img {
                display: block;
                width: 100%;
            }
        }
        &-temp {
            font-weight: 200;
            font-size: 30px;
            line-height: 30px;
            color: var(--text-color);
        }
    }


    // &__hourly {
    //     overflow: hidden;
    //     margin: 50px auto 0 auto;
    //     width: 100%;
    //     padding: 15px;
    //     background-color: var(--bg-color);
    //     &-item {
    //         padding: 0 5px;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: flex-start;
    //         align-items: center;
    //         color: var(--text-color);
            
    //     }
    //     &-temp {
    //         width: 75px;
    //         margin-top: 5px;
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //     }
    // }
}