@import 'base/libs';
@import 'base/fonts';
@import 'base/vars';
@import 'base/animation';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}

@import 'blocks/main';
@import 'blocks/title';
@import 'blocks/weather';
@import 'blocks/btn';
@import 'blocks/modal';
@import 'blocks/form';
@import 'blocks/slider';
@import 'blocks/spinner';

@import 'blocks/media';